{% extends "base.html" %}

{% block content %}

<form action="/", method="post">
  <div class="form-group mt-4">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" name="author">
  </div>
  <div class="form-group mt-4">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
  <div class="form-group mt-4">
    <label for="date">Date</label>
    <input type="text" class="form-control" id="date" name="date">
  </div>
  <div class="form-group mt-4">
    <label for="Content">Content</label>
    <textarea class="form-control" id="content" name="content" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mt-4">Create</button>
</form>

{% endblock %}