{% extends "base.html" %}

{% block content %}
  <h1>Autoservice</h1>
  <p>Cars:</p>
  <ul>
    {% for car in cars %}
        <li><a href='{% url "car" car.id %}'>{{ car.car_make }}</a></li>
    {% endfor %}
  </ul>
  {% if cars.has_other_pages %}
      <ul class="pagination pagination-sm justify-content-end">
          {% for i in cars.paginator.page_range %}
              {% if cars.number == i %}
                  <li class="page-item active">
                      <a class="page-link">{{ i }}</a>
                  </li>
              {% else %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                  </li>
              {% endif %}
          {% endfor %}
      </ul>
  {% endif %}

{% endblock %}