div {
    height: 100px;
    width: 100px;
    background-color: black;
    margin-bottom: 20px;
}

div:nth-child(1) {
    background: blue;
}

div:first-of-type {
    background: red;
}

div:first-child {
    background: purple;
}

div:nth-last-child(7) {
    background: grey;
}
