{% extends "base.html" %}

{% block content %}

<div class='content-section'>
    <form method='POST'>
        {{ form.hidden_tag() }}
        <div class='form-group'>
            {{ form.sum.label(class="form-control-label") }}
            {% if form.sum.errors %}
                {{ form.sum(class="form-control form-control-lg is-invalid") }}
                <div class='invalid-feedback'>
                    {% for error in form.sum.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.sum(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class='form-group'>
            {{ form.income.label(class="form-check-label") }}
            {{ form.income(class="form-check-input") }}
        </div>
        <div class='form-group'>
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock content %}