body {
    background: #eee;
    font-family: "Open Sans", sans-serif;
  }
  
  .container {
    margin: 0 auto;
    max-width: 60rem;
  }
  
  header {
    padding: 1rem 1rem 0 1rem;
  }
  
  .brand-container {
    display: flex;
    align-items: center;
  }
  
  .brand-logo {
    max-width: 100%;
    width: 6rem;
  }
  
  
  nav {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    margin-top: 0.5rem;
  }
  
  nav a {
    color: #444;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  nav a:not(:last-child) {
    margin-right: 1.5rem;
  }
  
  main {
    display: flex;
  }
  
  .block {
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1rem;
  }
  
  aside {
    flex: 1;
  }
  
  main > .block {
    flex: 3;
    margin-left: 0;
  }
  
  footer {
    color: grey;
    display: flex;
    justify-content: center;
  }
  
  @media only screen and (max-width: 60rem) {
    header {
      text-align: center;
    }
  
    nav {
      padding: 0;
      text-align: left;
    }
  
    nav a {
      color: rgb(16, 158, 201);
      display: block;
      padding: 1rem;
      text-decoration: underline;
    }
  
    nav a:not(:last-child) {
      margin-right: 0;
      border-bottom: 1px solid #eee;
    }
  
    main {
      display: block;
      padding: 1rem 1rem 0 1rem;
    }
  
    main #help {
      display: none;
    }
  
    .block {
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
    }
  }