{% extends "base.html" %}

{% block content %}

  <form method="post" action="{{ url_for('add_article_wtf') }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.author.label(class="form-control-label") }}
        {{ form.author(class="form-control") }}
      </div>
      <div class="form-group">
      {{ form.name.label(class="form-control-label") }}
      {{ form.name(class="form-control") }}
      </div>
      <div class="form-group">
      {{ form.status.label(class="form-control-label") }}
      {{ form.status(class="form-control") }}
     {% if form.status.errors %}
        {% for error in form.status.errors %}
          <small><span style="color:red">{{ error }}</span></small>
        {% endfor %}
      {% endif %}
      </div>
      <div class="form-group">
          {{ form.text.label(class="form-control-label") }}
          {{ form.text(class="form-control") }}
      </div>
      <div class="form-group">
          {{ form.date.label(class="form-control-label") }}
          {{ form.date(class="form-control") }}
      </div>
      {{ form.submit }}
  </form>

{% endblock %}
