{% extends 'base.html' %}


{% block body %}
<div class = "content"> 
    <table>
        <tr>
            <th>Task</th>
            <th>Added/Updated</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr> 
            <td> {{ task.content }} </td>
            <td> {{ task.date_created }}</td>
            <td>
                <a href ="/delete/{{task.id}}">Delete</a>
                <br/>
                <a href="/update/{{task.id}}">Update</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    <form action="/" method="POST">
        <input type="text" name="content" id ="content">
        <input type="submit" value="Add Task">
    </form>
</div>
{% endblock %}