div.deze-1 h1 div div.dezute-1 {
    background-color: red;
}

#geltona {
    background-color:yellow
}

div.deze-1 h1 div div.dezute-2 {
    background-color: blue;
}

div.deze-1 h1 div div.dezute-2 div {
    height: 300px;
    width: 200px;
    background-color: #123456;
}
