{% extends "base.html" %}

{% block content %}
    <div class="container author">
        </br>
        <h5>We have reviewed games released from these publishers:</h5>
        {% for publisher in publisher_list %}
            <li><a href="{% url 'publisher' publisher.id %}">{{publisher.name}} </a></li>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; pirmas</a>
                    <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
                {% endif %}
        
                <span class="current">
                    {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a> 
                {% endif %}
            </span>
        </div>    
    </div>
{% endblock %}