
    #navbar {
        padding: 0;
        flex-wrap: wrap;
    }

    #navbar img {
        padding: 0;
        height: 70px;
        margin-left: 0rem;
    }

    #navbar a {
        text-align: center;
    }

    #navbar ul {
        list-style: none;
        display: none;
        /* align-items: center; */
        flex-wrap: wrap; 
        width: 100%;
        /* border: 1px solid; */
        justify-content: space-evenly;
        flex-direction: column;
        /* text-align: center; */
        margin: 0;
        /* margin: 0 1rem; */
        order: 3;
    }

    #navbar ul li a {
        font-size: 0.8rem;
        margin: 0.3rem;
        display: block;
        text-align: center;
        font-weight: 600;
        justify-content: center;
        display: inline-block;
        color: #fff;
        background-color: rgb(173, 11, 11);
        padding: 0.5rem 0;
        width: 10rem;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        border-style: solid;
        border-width: 3px;
        border-color: white;
    }

    #navbar ul li a:hover {
        color: rgb(216, 215, 215);
    }

    #navbar {
        color: rgb(0, 0, 0);
        display: none;
        position: relative;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        padding: 0;
        transition: all 300ms ease-out;
        z-index: 100;
        font-family: 'EB Garamond';
        font-style: italic;
        flex-direction: row;
    }

    #navbar ul li {
        padding: 0.2rem 0.5rem;
    }

    #navbar #list-nav {
        display:none;
    }

    #navbar-toggle {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.8);
        font-size: 28px;
        display: flex;
        order:2;
        padding: 1.5rem 1rem 1.5rem 1rem;
      }

    #header-container #advertising-nav {
        font-size: 0.8rem;
        padding: 0 1rem;
        justify-content: space-between;
    }
    
    #main-contacts-nav {
        display: none;
        flex-direction: row;
        flex: 2;
        text-align: center;
    }
    
    #languages-nav {
        flex:1;
        text-align: center;
        justify-content: center;
    }
    
    #social-media-nav {
        display: none;
    }
    
    .l-heading {
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        line-height: 1.1;
        text-align: center;
    }
    
    .m-heading {
        font-size: 2.2rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        line-height: 1.1;
        text-align: center;
        font-family: 'EB Garamond';
    }
    
    .headabout {
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: 1.7rem;
    }

    .p-3 {
        padding: 1rem;
    }
    
    #showcase {
        height: 100vh;
    }
    
    .showcase-content .slide .slide-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items:center;
        height: 100%;
        padding: 2rem;
        background-color:rgba(0, 0, 0, 0.089);
    }

    .showcase-content .showcase-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .arrow {
       display:none;
    }
    
    #apartaments .intro {
        display: none;
    }
    
    #apartaments .items .item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        margin: 0.5rem 1rem;
        box-shadow: 6px 5px 8px 4px rgba(0, 0, 0, 0.062), 7px 8px 20px 8px rgba(0, 0, 0, 0.055);
        margin-top: 3rem;
    }
    
    #apartaments .items .item .text-container {
        padding: 0rem 1.2rem 1rem 1.2rem;
        font-size: 1rem;
    }
    
    #entertainments {
        flex-direction: column;
        text-align: center;
    }

    .ent-images-container {
        display: none;
    }

    .entintro {
        display: none;
    }
    
    #feedback .items .item {
        margin: 1rem 1rem 0 1rem;
    }
    
    #contacts-footer .contacts-container {
        font-size: 0.2rem;
    }

    #contacts-footer .logo-container h3 {
        font-size: 1rem;
        margin: 0.5rem;
    }
    
    #contacts-footer .contact-container .logo-container i {
        font-size: 4rem;
    }

    #contacts-footer .contact-container .logo-container p {
        font-size: 0.7rem;
    }
    
    #contacts-footer .contact-container .logo-container {
        flex-direction: column;
        flex-wrap:wrap;
        font-size: 0.8rem;
    }

    #contacts-footer .contact-container .logo-container div {
        border-bottom: 1px solid rgba(0, 0, 0, 0.041);
    }
    
    #adv-footer {
        font-size: 0.5rem;
        padding: 0;
        justify-content: space-around;
        text-align: center;
        flex-direction: column;
    }
    
    #adv-footer div:nth-child(3) {
        display: none;
    }
    
    #adv-footer .icon-adv {
        flex:1;
    }
    
    #adv-footer .canaria-adv {
        flex:1;
    }
    
    .modal-body .photo-side {
        width: 80%;
        padding: 1rem;
        flex:2;
    }

    .modal-content {
        flex-wrap: wrap;
    }