{% extends "base.html" %}

{% block content %}

{% if visi_bankai %}
{% for bankas in visi_bankai %}
<hr>
<p>Pavadinimas: {{bankas.pavadinimas}}</p>
<p>Adresas: {{bankas.adresas}}</p>
<p>Banko kodas: {{bankas.banko_kodas}}</p>
<p>SWIFT kodas: {{bankas.swift}}</p>
<a href="{{ url_for('bankas_delete', id=bankas['id']) }}">Ištrinti</a>
<a href="{{ url_for('bankas_update', id=bankas['id']) }}">Redaguoti</a>
{% endfor %}
{% endif %}
<hr>
<p><a href="{{ url_for('bankas_new')}}">Naujas bankas</a></p>

{% endblock %}