<!DOCTYPE html>
<html>
<head>
	<title>Todo app</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&amp;subset=latin-ext" rel="stylesheet">
    {%block head %} {%endblock%}
</head>
<body>
	<header>
		<h1>What do you have to do?</h1>
    </header>
    {%block body %} {%endblock%}
</body>
</html>


