header {
    text-align: center;
  }
  
  header img {
    height: 50px;
  }
  
  nav {
    background: rgb(11, 104, 11);
    padding: 10px 0;
    text-decoration: none;
  }
  
  nav a {
    color: white;
    margin: 0 20px;
  }
  
  section.grey-block {
    padding: 20px;
    background: #eee;
  }
  
  section.green-block {
    padding: 20px;
    background: rgb(215, 255, 215);
  }
  
  section img {
    width: 100%;
  }
  
  h2 {
    background: rgb(11, 104, 11);
    color: white;
    margin-top: 0;
  }
  
  .grey-block h2 {
    margin-top: 20px;
  }
  