{% extends "base.html" %}

{% block content %}
  <h1>Autoservice</h1>
  <p>Orders:</p>
  <ul>
    {% for order in orders %}
        <li><a href='{% url "order-detail" order.id %}'>{{ order.date }} {{ order.car }}</a></li>
    {% endfor %}
  </ul>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">back</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">forward</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>       
{% endblock %}