html {
  font-size: 20px; /* px reiškia pixels-pikseliai": pagrindinis šrifto dydis dabar yra 10 pikselių aukščio  */
  font-family: "Open Sans", sans-serif; /* tai turėtų būti likusi išvestis, kurią gavote iš Google“ šriftų */
}

h1 {
  font-size: 60px;
  text-align: right;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 10px;
}
